.SearchBarButton {
  padding: 0.8em;
  margin: 0em 1.5em;

  font-size: 1em;

  color: #ffffff;
  background-color: #4ba8e1;
  border: none;

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.SearchBarButton:hover {
  cursor: pointer;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.disabled {
  background-color: #5d7786f3;
}

.disabled:hover {
  cursor: default;
  box-shadow: none;
}
