.SearchBar-header-text {
  /* text-align: justify; */
  font-size: 4.3vw;
  font-weight: 700;
  margin: 0px 2vw;
}

.SearchBar-header-text:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.SearchBar-search {
  display: flex;
  flex-direction: column;
}

#SearchBar-search-input {
  /* layout */
  width: 80%;
  height: 1.5em;
  margin-bottom: 1em;

  /* styling */
  border: none;
  border-bottom: 1px solid black;
  font-size: 2em;
}

#SearchBar-search-input:focus {
  outline: none;
}
