.SearchBar {
  width: 100%;
  margin: 0.1em;
}

.SearchBar-header-text {
  display: inline-block;
  font-size: 2.6em;
  font-weight: 700;
  margin: 0.2em;
}

.SearchBar-search {
  display: flex;
  flex-direction: column;
}

#SearchBar-search-input {
  /* layout */
  width: 80%;
  height: 1.5em;
  margin-bottom: 1em;

  /* styling */
  border: none;
  border-bottom: 1px solid black;
  font-size: 2em;
}

#SearchBar-search-input:focus {
  outline: none;
}
